<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/4life</property>
    <property name="connection.username">root</property>
    <property name="connection.password">server</property>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="beans/Persona.hbm.xml"/>
    <mapping resource="beans/Horario.hbm.xml"/>
    <mapping resource="beans/anulargiro.hbm.xml"/>
    <mapping resource="beans/Giro.hbm.xml"/>
    <mapping resource="beans/Agencia.hbm.xml"/> 
    <mapping resource="beans/CodigoAgencia.hbm.xml"/>
    <mapping resource="beans/Pasajes.hbm.xml"/>
    <mapping resource="beans/Flores.hbm.xml"/>
    <mapping resource="beans/Otros.hbm.xml"/>
    <mapping resource="beans/VentaProductos.hbm.xml"/>
    <mapping resource="beans/Remplazo.hbm.xml"/>
    <mapping resource="beans/CuentasXCobrar.hbm.xml"/>
    <mapping resource="beans/CuentasXPagar.hbm.xml"/>
    <mapping resource="beans/Cheque.hbm.xml"/>
    <mapping resource="beans/ComprasOficina.hbm.xml"/>
    <mapping resource="beans/PagoT.hbm.xml"/>
    <mapping resource="beans/Cierre.hbm.xml"/>
    <mapping resource="beans/Cabinas.hbm.xml"/>
    <mapping resource="beans/VideoConferencia.hbm.xml"/>
    <mapping resource="beans/Billetes.hbm.xml"/>
    <mapping resource="beans/Compras.hbm.xml"/>
    <mapping resource="beans/CierreFaltante.hbm.xml"/>
    <mapping resource="beans/Tarjetas.hbm.xml"/>
    <mapping resource="beans/Linea.hbm.xml"/>
    <!--agregado por mi jiji-->
    <mapping resource="beans/Cliente.hbm.xml"/>
    <!-- <mapping resource="beans/Turno.hbm.xml"/>  
        <mapping resource="beans/Efectivo.hbm.xml"/>  
        <mapping resource="beans/Destino.hbm.xml"/

-->
  </session-factory>
</hibernate-configuration>
